body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(247, 5, 5, 0.1);
}

.table {
    width: 100%;
    margin-top: 20px;
}

.table th, .table td {
    text-align: center;
    padding: 10px;
}

.btn-primary, .btn-danger {
    margin: 5px;
}
